{{#switch this.type}}
    {{#case 'root'}}
        {{#each this.children}}
            {{> description this}}
        {{/each}}
    {{/case}}
    {{#case 'paragraph'}}
        <p>
        {{#each this.children}}
            {{> description this}}
        {{/each}}
        </p>
    {{/case}}
    {{#case 'text'}}
        {{this.value}}
    {{/case}}
    {{#case 'inlineCode'}}
        <code>{{{crossLink this.value}}}</code>
    {{/case}}
    {{#case 'link'}}
        <a href="{{crossLinkUrl this.url}}">
        {{#each this.children}}
            {{> description this}}
        {{/each}}
        </a>
    {{/case}}
{{/switch}}
