{{#if list}}
    {{#if name}}
        <h7>{{name}}</h7>
    {{/if}}
    <table class="table table-light">
        <thead>
            <th class="col-2">Property</th>
            <th class="col-4">Type</th>
            <th class="col-6">Description</th>
        </thead>
        <tbody>
            {{#each list}}
                <tr>
                    <td>
                        <code>{{this.name}}</code>
                    </td>
                    <td>
                        <code>{{> type this.type}}</code>
                    </td>
                    <td>
                        {{> description this.description}}
                        {{#each this.tags}}
                            {{#switch this.title}}
                                {{#case 'default'}}<em class="me-1">default</em> <code>{{this.description}}</code>{{/case}}
                            {{/switch}}
                        {{/each}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/if}}
