{{#if list.length}}
    {{name}}
    <div class="{{className 'returns'}}">
        {{#each list}}
            <code>{{> type this.type}}</code>
            {{> description this.description}}
        {{/each}}
    </div>
{{/if}}
